@charset "UTF-8";


.SR-borderless {
    border: none;
}

.SR-display-none {
    display: none;
}

.SR-text-right {
    text-align: right;
}
.SR-text-center {
    text-align: center;
}
.SR-text-justify {
    text-align: justify;
}
.SR-text-left {
    text-align: left;
}

.SR-text-up-to-down {
    margin: auto;
    padding: 3px;
    text-orientation: upright;
    vertical-align: center;
    text-align: left;
    writing-mode: vertical-lr;
}

.SR-loading {
    z-index: 999999;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--loadingImage, url(/Shared/img/fancybox_loading.gif)) 50% 50% no-repeat #f0f0f0;
}

.SR-disappearing {
    -moz-animation: cssAnimation var(--hideAfter, 5s) forwards;    /* Firefox */
    -webkit-animation: cssAnimation var(--hideAfter, 5s) forwards; /* Safari and Chrome */
    -o-animation: cssAnimation var(--hideAfter, 5s) forwards;      /* Opera */
    animation: cssAnimation var(--hideAfter, 5s) forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@keyframes cssAnimation {
    0%   {opacity: 1;}
    25%  {opacity: 1;}
    50%  {opacity: 1;}
    75%  {opacity: 1;}
    100% {opacity: 0;}
}
@-webkit-keyframes cssAnimation {
    0%   {opacity: 1;}
    25%  {opacity: 1;}
    50%  {opacity: 1;}
    75%  {opacity: 1;}
    100% {opacity: 0;}
}

td.td-SR-float-content {
    position: relative;
    vertical-align: top;

    div.div-sticky {
        position: sticky;
        position: -webkit-sticky;
        top: var(--tdPadding, 0);
        float: left;
    }
}

div.div-SR-tabs {
    width: 98%;
    margin: auto;

    table {
        table-layout: fixed;
        width: 100%;
        border-collapse: separate;
        border-spacing: 0;
        tr {
            height: 3em;
        }

        td {
            &:has( a[href] ) {
                /* tabs */
                width: var(--tabWidth, 15em);
                padding: 5px 10px;
                border-radius: 10px 10px 0 0;
                border: 1px solid #545454;
                text-align: center;
                word-wrap: none;
                word-break: keep-all;

                &:not(:has( a[href^="javascript:"] )) {
                    background-color: var(--tabColorUnselected, #ffeedd);
                }

                /* selected */
                &:has( a[href^="javascript:"] ) {
                    border-bottom: none;
                }
            }

            /* side space if empty tabs */
            &:not( a ) {
                border-bottom: 1px solid #545454;

                &:first-of-type {
                    width: 2em;
                }
                &:last-of-type {
                    width: auto;
                }
            }
        }
    }
}