/* Light mode styles (default)
@media (prefers-color-scheme: light) {
    body {
        background-color: #ffffff;
        color: #000000;
    }

    a {
        color: #0645ad;
        text-decoration: none;
    }
    a:hover,
    a:focus {
        color: #0b0080;
        text-decoration: underline;
    }

}
*/

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #121212;
        color: #ffffff;
    }

    a {
        color: #9ecbff;
        text-decoration: none;

        &:hover,
        &:focus {
            color: #c2e0ff;
            text-decoration: underline;
        }

    }
}